certifi==2017.11.5
chardet==3.0.4
graphviz==0.8.1
idna==2.6
mxnet==0.12.1
numpy==1.22.0
pbr==4.2.0
pipenv==2018.7.1
PyYAML>=4.2b1
requests>=2.20.0
six==1.11.0
stevedore==1.29.0
urllib3>=1.23
virtualenv==15.1.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
